:root {
    --black: rgb(0, 0,0);
    --white: rgb(250, 250, 250);
    --header-color: rgb(62, 39, 25);
    --text-color: rgba(0, 0, 0, 0.6);
    --elements-color: rgb(204, 150, 12);
    --lines-color: rgba(144, 110, 15, 0.5);
    --bgr-color: rgba(250, 230, 211, 0.8);
    --btn-color: rgba(61, 86, 44, 1);
    --footer-bgr: rgba(69, 89, 56, 0.9);
}

/* reset styles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {margin: 0;
font-family: Montserrat, sans-serif;}

a {color: inherit;
text-decoration: none;
outline: 1px solid transparent;}

.container {
    height: 100%;
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    font-size: 16px;
    color: var(--text-color);
    height: 107px;
    border-bottom: solid 1px var(--lines-color);
}

.container.header {
   display: flex;
justify-content: space-between;
align-items: center;
}

.logo-sun {

    fill: var(--black);
}

.navigation {display: flex;
    align-items: center;
gap: 25px;
margin-right: 100px;
}

.language {display: flex;
    align-items: center;
gap: 25px;
color: var(--elements-color);}

.language > li:first-child {
font-weight : 700;
}

.nav-item:hover, .nav-item:focus {
    color: var(--black);
    transform: scale(1.1);
} 

.language-item:hover, .language-item:focus {
    transform: scale(1.1);
}

.nav-item, .language-item {padding: 15px 10px;
    cursor: pointer;
    position: relative;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.nav-link::after {
    content: "";
    width: calc(100% + 10px);
    height: 1px;
    display: block;
    
    position: absolute;
    bottom: 0px;
    left: -5px;
  
    opacity: 0;
    transform: scale(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), font-weight 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.nav-item > .nav-link::after {
    background-color: var(--black);}

     .language-item > .nav-link::after {
    background-color: var(--elements-color);}
  
  .nav-item:hover .nav-link::after,
  .language-item:hover .nav-link::after
   {
    opacity: 1;
    transform: scale(1);
  }

  .right-header {
    display: flex;
  }

  /* hero section */

  .hero {
    padding-bottom: 65px;
width: 1340px;
margin-left: auto;
  }

  .hero-text {
    width: 500px;
height: 448px;
margin-top: 35px;
margin-right: 30px;
padding-left: 15px;
    /* margin-left: 100px; */
    /* outline: auto; */
  }

  h1 { display: none;
}

.main-title {
    width: 460px;
    font-weight: 600;
    font-size: 67px;
color:var(--header-color);
text-transform: uppercase;
line-height: 65px;
letter-spacing: -0.012em;
}


.hero {
    display: flex;
    justify-content: space-between;
  }
  

  .hero-paragraph {
    width: 460px;
    margin-top: 45px;
    font-weight: 300;
font-size: 22px;
line-height: 29px;
color: var(--text-color);
text-align: justify;
}


.airbnb {
    fill: var(--elements-color);
    margin-left: 5px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
font-size: 24px;
line-height: 34px;
color: var(--white);
background-color: var(--footer-bgr);
width: 230px;
height: 75px;

border-radius: 10px;
margin-top: 60px;
margin-left: 115px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus {
    background-color: var(--btn-color);
    transform: scale(1.02);
}

.hero-btn:hover .airbnb, .hero-btn:focus .airbnb 
{fill: #FF385C;
}

@keyframes SardiniaColor {
    0% {
        color: var(--elements-color);
    }
    50% {
        color: var(--elements-color);
    }

    100% {

        color: var(--header-color);
    }
}

.sardinia {
    animation-name: SardiniaColor;
    animation-duration: 2500ms;
    /* animation-delay: 500ms; */
    animation-fill-mode: forwards;
}

/* <!-- Area --> */

.area {
    background-color: var(--bgr-color);
    padding-top:60px;
    padding-bottom: 90px;
    border-top: solid 1px var(--lines-color);
}

 .area h2 { 
    display: none;
}

.area-list {
    display: flex;
    justify-content: space-around;
 
}

.area-title {
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: var(--text-color);
}

.area-icon {
    display: block;
    fill: var(--text-color);
margin-right: auto;
margin-left: auto;
margin-top: 7px;
}

.area-list > li:first-child {
    transform: scale(1.1);
}

.area-list > li:first-child > h3,
.area-list > li:first-child > svg {
    transform: scale(1.1);
    color: var(--black);
    fill: var(--black);
}

.area-descr {
    position: relative;
    display: flex;
    gap: 40px;
    margin-top: 60px;
}

.area-text > span {
font-weight: 600;
color: var(--black);
}

.area-img {
    border-radius: 4px;
}

.area-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
}

.area-list > li:not(:first-child),
.area-list > li:not(:first-child) .area-title,
.area-list > li:not(:first-child) .area-icon {
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.area-list > li:not(:first-child):hover {
transform: scale(1.1);
cursor: pointer;
}

.area-list > li:not(:first-child):hover .area-title,
.area-list > li:not(:first-child):hover .area-icon {
    color: var(--black);
    fill: var(--black);
}

.arrow-icon {
    position: absolute;
    fill: var(--white);
    top: 230px;
    left: 590px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.arrow-icon:hover {
    fill: var(--elements-color);
    transform: scale(1.1);
}